---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

$primary: #39507C;
$secondary: #BAF3FF;
$white: rgba(255, 255, 255, 0.98);
$container-size: 1200px;

$noto: 'Noto Sans', sans-serif;
$rubik: 'Rubik', sans-serif;

body {
    font-family: $noto;
    margin: 0px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "splash",
    "layout"
;
