---
layout: default
---

<div class="home">

    <h1 class="page-heading">
        <span class="posts-title">Girdiler</span>
    </h1>

    <ul class="post-list">
        {% for post in paginator.posts %}
            <li style="border-bottom: 1px dashed #dbdbdb; padding-bottom: 10px; margin-bottom: 10px;">
                <span class="post-meta">
                    {% assign m = post.date | date: "%-m" %}
                    <i style="padding-right: 4px;" class="fa fa-calendar"></i>
                    {{ post.date | date: "%-d" }}
                    {% case m %}
                        {% when '1' %}Ocak
                        {% when '2' %}Şubat
                        {% when '3' %}Mart
                        {% when '4' %}Nisan
                        {% when '5' %}Mayıs
                        {% when '6' %}Haziran
                        {% when '7' %}Temmuz
                        {% when '8' %}Ağustos
                        {% when '9' %}Eylül
                        {% when '10' %}Ekim
                        {% when '11' %}Kasım
                        {% when '12' %}Aralık
                    {% endcase %}
                    {{ post.date | date: "%Y" }}
                    <i style="padding-left: 12px; padding-right: 4px;" class="fa fa-user"></i>
                    {% if post.author %}{{ post.author }}{% endif %}
                </span>
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </h2>
                <article class="excerpt">
                  {{ post.excerpt }}
                </article>
            </li>
        {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Yeni</a>
            {% else %}
                <span>&laquo; Yeni</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <em>{{ page }}</em>
                {% elsif page == 1 %}
                    <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Eski &raquo;</a>
            {% else %}
                <span>Eski &raquo;</span>
            {% endif %}
        </div>
    {% endif %}

    <br>

    <p class="rss-subscribe">
        <a class="rss-button" href="{{ "/feed.xml" | prepend: site.baseurl }}">
            RSS ile takip edin!
        </a>
    </p>

</div>
