---
layout: default
---

<div class="home">

  <h1 class="page-heading"><span class="posts-title">Girdiler</span></h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }}
            {% case m %}
              {% when '1' %}Ocak
              {% when '2' %}Şubat
              {% when '3' %}Mart
              {% when '4' %}Nisan
              {% when '5' %}Mayıs
              {% when '6' %}Haziran
              {% when '7' %}Temmuz
              {% when '8' %}Ağustos
              {% when '9' %}Eylül
              {% when '10' %}Ekim
              {% when '11' %}Kasım
              {% when '12' %}Aralık
            {% endcase %}
            {{ post.date | date: "%Y" }}
            {% if post.author %}{{ post.author }}{% endif %}
        </span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe"><a class="rss-button" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS ile takip edin!</a></p>

</div>
