<header class="container mx-auto px-52 mt-2">
  <div class="h-14 flex flex-wrap content-center">
    <h1 class="text-mavidurak-700 font-bold text-3xl font-rubik pt-1 flex">
      <div>mavidurak</div>
      <div class="ml-2 bg-mavidurak-700 text-white rounded pl-2 pr-2 pt-1 pb-1 font-cormorant text-lg border-l-4 border-mavidurak-400">
        I<span class="ml-0.5 mr-0.5">/</span>O
      </div>
    </h1>
    <div class="flex-auto">
      <ul class="flex justify-end mt-2">
        <li class="ml-8"><a class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700" href="/">Hakkında</a></li>
        <li class="ml-8"><a class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700" href="/">Ekip</a></li>
        <li class="ml-8"><a class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700" href="/">Çalışmalar</a></li>
        <li class="ml-8"><a class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700" href="/">İletişim</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/" style="color: #fff">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/submit">Etkinlik Başvurusu</a>
        <a class="page-link" href="/suggestion">Öneri Formu</a>
        <a class="page-link" href="/about/">Hakkında</a>
      </div>
    </nav>

  </div>

</header> -->
