<header class="container mx-auto xl:px-52 mt-2">
  <div class="h-14 flex flex-wrap content-center">
    <a
      href="/"
      class="text-mavidurak-700 font-bold text-3xl font-rubik pt-1 flex hover:underline"
    >
      <div>mavidurak</div>
      <div
        class="ml-2 bg-mavidurak-700 text-white rounded pl-2 pr-2 pt-1 pb-1 font-cormorant text-lg border-l-4 border-mavidurak-400"
      >
        I<span class="ml-0.5 mr-0.5">/</span>O
      </div>
    </a>
    <div class="flex-auto">
      <ul class="flex justify-center lg:justify-end mt-2">
        <li class="ml-8">
          <a
            class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700"
            href="/mavidurak-io-hakkinda"
            >Hakkında</a
          >
        </li>
        <li class="ml-8">
          <a
            class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700"
            href="/#ekip"
            >Ekip</a
          >
        </li>
        <li class="ml-8">
          <a
            class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700"
            href="/etkinlik-basvurusu"
            >Etkinlik Başvurusu</a
          >
        </li>
        <li class="ml-8">
          <a
            class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700"
            href="/c-dili-egitim-programi"
            >C Dili Eğitim Programı</a
          >
        </li>
        <li class="ml-8">
          <a
            class="font-poppins font-medium text-base text-gray-600 hover:text-mavidurak-700"
            href="/iletisim"
            >İletişim</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
