<div id="splash">
  <div class="container">
    <div class="navigation">
      <a href="/" class="logo">
        MaviDurak-IO
      </a>
      <div class="menu-links">
        <a href="#">Biz Kimiz?</a>
        <a href="#">Blog</a>
        <a href="#">Başvuru</a>
        <a href="#">Etkinlikler</a>
      </div>
    </div>
    <div class="body">
      <div class="left">
        <img src="/images/pana.svg" />
      </div>
      <div class="right">
        <div class="text-container">
          <h1>Paylaşım temelli <br/> kod geliştirme topluluğu</h1>
          <p>
            Yazılım dünyasındaki gelişmeleri yakından takip etmek, yeni bakış
            açıları kazanmak, öğrendiklerimizi paylaşabilmek ve bildiklerimizi
            sorgulayabilmek için bir aradayız
          </p>
        </div>
      </div>
    </div>
  </div>
  <img class="wave" src="/images/wave.svg" />
</div>
