/**
 * Site header
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: $brand-color;
    color: $white;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: "Raleway";
    font-weight: 800;
    color: #fff;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $white;
        line-height: $base-line-height;
        padding: 5px;
        border-radius: 5px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        &:hover {
            background-color: #fff;
            color: $brand-color;
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

a.rss-button {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACmUlEQVQ4jZWTz0tVQRTHx8gQyoLUes9758zzrcpKgkdRoGJCZWCGL++7d85cF7V4BGWJUG5sVwTqQjKSfrlpEy2jFkLQxmV/SOCqfL5758yFaVH44/3Q59nNme/5nHO+wzC2S6yNtLdGBd6vA+4n411e2Xcu2QHWsltNzYhktpcUvCUl5nXA/SjgfVHA+7SEkBAWKOCL6z4/uyfIDrAWQlggCRPWY4fq6X5dY4cNiqcGxYxlrKkuTCv4uC5TZxrepMD7ScHLmlAK+OJ+YJtQ6QwahOmqJCl+f0cucAeignNlbaS9dS+oRvHcImS3ppNi2RZzzdtFRonvSZixhEAJwmftp0/XA/6+fvQ4KTHPGGPsz2hrm1YwW9XVT5/WAYwRiveEIiIFmhCK9aCEsGQZa2KxdId04I5WC8QDQnhU9tqcKJ8WRonV/xPXhBrJpyxCllHA7274/EKVQPGVJMxYUqANwrQdYC1GiVVCiO3tzlOV+mS8y4sC3sdI8ju1gIwxVvLcc0aJr0mYsUbBkyifFoQi0op/qrJIQiGS2V4WS7iq0c1XCjZG2jt1wH1bZM0GxTdCiMt5xyUlPpACXfn6RorHUT4tmPWyxzTyuaqVEb4kYcZqCWFJuj1JmLEkYVIHMJaEGRtJZ3Cn57C0/fCu8qtpCQWj+EqUT4t/noofRvIp7aW6jRI/Y+kObVozcuKkVvBis7gsnctG8qlaPjYSpMR8Oe+4O5JawSwh5PYLiyXcJAkTVRe2mGsmKZbLnnuxYZgPw7U+xRaUsYNaiWcGxYz1Oo7U0617qQ6NfI4kTDbUuSTdHkLxilC8JsXvxT4Ma+S3COEhIbwhJeZtkMo0usnWxMVcc8lzzse+eyOW7pD2Ut2WsQO71fwFhKktVCiVvOwAAAAASUVORK5CYII=);
    background-position: center left;
    padding: 5px;
    padding-left: 28px;
    border-radius: 5px;
    background-repeat: no-repeat;
    color: #fe6529;
    text-decoration: none;
    &:hover {
        background-color: #fe6529;
        color: $white;
    }
}

span.posts-title {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAXElEQVQ4jWPw8wv4T03MQAsDG6iJGQY/ICOcGuhuIEmBHhAQ4EC14BkF2AHVc8rgLxwGP6BGUeXr68vl4+OX7+sbaENRGMIM9Pf3z4OKvaGWgea+vv7v/Pz8lgAALtlxck7w38YAAAAASUVORK5CYII=);
    padding-left: 32px;
    background-position: center left;
    background-repeat: no-repeat;
}
